<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<h1>{{$t('participate.title')}}</h1>
						<p>{{$t('participate.info')}}</p>
						<ion-item>
							<ion-label for="participate_code" position="floating">{{$t('participate.codeInput')}}</ion-label>
							<ion-input id="participate_code"
									   v-model="code"
									   :placeholder="$t('participate.codePlaceholder')"
									   @keydown="showError = false"
									   @keydown.enter="onSubmitCode"
									   autofocus
									   enterkeyhint="send"></ion-input>
							<ion-button :disabled="!validForm"
										@click="onSubmitCode"
										slot="end"
										class="ion-align-self-end"
										fill="clear">
								<ion-icon :icon="chevronForward" :ios="chevronForwardOutline" :md="chevronForwardSharp" :slot="iconSlot"></ion-icon>
								<span v-if="showSubmitText">{{ $t('participate.codeSendButton') }}</span>
							</ion-button>
							<span v-if="showError">{{codeError}}</span>
						</ion-item>
						<ion-button v-if="isMobile" @click="scanCode" expand="block">{{$t('participate.scanCodeButton')}}</ion-button>
						<p>{{$t('participate.secondInfo')}}</p>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {
	isPlatform,
	IonButton,
	IonCol,
	IonContent,
	IonGrid,
	IonIcon,
	IonInput,
	IonItem,
	IonLabel,
	IonPage,
	IonRow, useIonRouter,
} from "@ionic/vue";
import {chevronForward, chevronForwardOutline, chevronForwardSharp} from 'ionicons/icons';
import {computed, ref} from "vue";
import {useStore} from "vuex";
import { BarcodeScanner, BarcodeScanResult } from "@awesome-cordova-plugins/barcode-scanner";

import useParticipateForm from "@/composables/forms/participateForm";
import useBreakpoints from "@/composables/breakpoints";
import useParticipationAPI from "@/composables/apis/participationApi";
import {useI18n} from "vue-i18n";
import useToastMessage from "@/composables/toastMessage";

export default {
	name: "ParticipateView",
	components: {IonContent, IonPage, IonGrid, IonRow, IonCol, IonItem, IonInput, IonLabel, IonButton, IonIcon},
	setup() {
		const router = useIonRouter();
		const store = useStore();
		const {t} = useI18n();

		const {openToast} = useToastMessage();
		const { getSessionIdForAccessCode } = useParticipationAPI();
		const { code, codeError, validForm } = useParticipateForm();
		const showError = ref(false);

		const {type} = useBreakpoints();
		const isMobile = computed(() => isPlatform('ios') || isPlatform('android'));
		const showSubmitText = computed(() => !['xs', 'sm'].includes(type.value));
		const iconSlot = computed(() => showSubmitText.value ? 'start' : 'icon-only');

		return {
			chevronForward, chevronForwardOutline, chevronForwardSharp,
			code, codeError, validForm,
			isMobile, showSubmitText, iconSlot, showError,
			onSubmitCode: async () => {
				showError.value = true;
				if(validForm.value) {
					//take care the user isn't in another session here
					await store.dispatch('leaveSession');

					const sessionId = await getSessionIdForAccessCode(String(code.value));
					if(sessionId) {
						router.push({name: 'participateOverview', params: {code: String(code.value)}});
					}
				}
			},
			scanCode: () => {
				BarcodeScanner.scan({
					formats : "QR_CODE", // default: all but PDF_417 and RSS_EXPANDED
				}).then((barcodeData: BarcodeScanResult) => {
					if(barcodeData.cancelled) {
						return;
					}
					if(barcodeData.text.startsWith(store.getters.baseUrl+'/participate/')) {
						const code = barcodeData.text.replace(store.getters.baseUrl+'/participate/', '');
						if(code.match(/^[a-zA-z0-9]{8}$/)) {
							router.push({name: 'participateOverview', params: {code: code}});
						} else {
							openToast(t('participate.invalidCode'));
						}
					} else {
						openToast(t('participate.invalidCode'));
					}
				}).catch((error: any) => {
					console.error(error);
				});
			}
		}
	}
}
</script>

<style scoped>

</style>