<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
				<ion-refresher-content>
				</ion-refresher-content>
			</ion-refresher>
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<h1 v-if="session">{{session.name}}</h1>
						<ion-list v-if="session && session.questions.length > 0">
							<ion-item v-for="(question, index) in session.questions" v-bind:key="question._id">
								<ion-label v-if="question.shareResults || question.isOpen">{{question.question.text}}</ion-label>
								<ion-label v-else>{{ $t('participate.questionNumber', {number: (index+1)})}}</ion-label>

								<ion-button v-if="question.isOpen && !participatedQuestions.includes(question._id)"
											@click="onViewQuestion(question._id)"
											fill="clear">
									<ion-icon :icon="enter"
											  :ios="enterOutline"
											  :md="enterSharp"
											  :slot="iconSlot"></ion-icon>
									<span v-if="showButtonText">{{ $t('participate.participate') }}</span>
								</ion-button>

								<ion-button v-if="question.shareResults && question.results.length > 0"
											@click="onViewResults(question._id)"
											fill="clear">
									<ion-icon :icon="barChart"
											  :ios="barChartOutline"
											  :md="barChartSharp"
											  :slot="iconSlot"></ion-icon>
									<span v-if="showButtonText">{{ $t('participate.viewResults') }}</span>
								</ion-button>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {
	IonButton,
	IonCol,
	IonContent,
	IonGrid,
	IonIcon,
	IonItem,
	IonLabel,
	IonList,
	IonPage,
	IonRefresher,
	IonRefresherContent,
	IonRow,
	onIonViewDidEnter, onIonViewWillLeave
} from "@ionic/vue";
import {enter, enterOutline, enterSharp,
		barChart, barChartOutline, barChartSharp} from 'ionicons/icons';

import {useStore} from "vuex";
import {computed, ref} from "vue";
import useBreakpoints from "@/composables/breakpoints";
import useParticipantWatcher from "@/composables/participantWatcher";
import router from "@/router";

export default {
	name: "ParticipateOverviewView",
	components: {IonPage, IonContent, IonGrid, IonRow, IonCol, IonList, IonItem, IonLabel, IonButton, IonIcon, IonRefresher, IonRefresherContent},
	setup() {
		const store = useStore();

		const {type} = useBreakpoints();
		const showButtonText = computed(() => !['xs', 'sm'].includes(type.value));
		const iconSlot = computed(() => showButtonText.value ? 'start' : 'icon-only');
		const participatedQuestions = ref([]);

		const session = computed(() => {
			return store.getters.participateSession;
		});

		const {stopTokenWatcher} = useParticipantWatcher();

		onIonViewDidEnter(async () => {
			participatedQuestions.value = await store.dispatch('getParticipatedQuestions');
		})

		onIonViewWillLeave(() => {
			stopTokenWatcher();
		})

		const doRefresh = (event: any) => {
			store.dispatch('loadParticipateSession')
				.then(() => store.dispatch('getParticipatedQuestions'))
				.then((answeredQuestions) => {
					participatedQuestions.value = answeredQuestions;
					event.target.complete();
				})
		}

		return {
			enter, enterOutline, enterSharp,
			barChart, barChartOutline, barChartSharp,
			iconSlot, showButtonText,
			session, participatedQuestions,
			doRefresh,
			onViewResults: (questionId: string) => {
				router.push({name: 'participateQuestionResults', params: {questionId: questionId}});
			},
			onViewQuestion: (questionId: string) => {
				router.push({name: 'participateQuestion', params: {questionId: questionId}});
			}
		}
	}
}
</script>

<style scoped>

</style>