<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid v-if="question">
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<navigation-back :back-route="{name: 'participateOverview', params: {code: route.params.code}}"></navigation-back>
						<h1>{{question.question.text}}</h1>

						<single-choice-question v-if="question.question.type === 'SC'"
												:question="question"
												@didAnswer="onDidAnswer"></single-choice-question>

						<multiple-choice-question v-else-if="question.question.type === 'MC'"
												  :question="question"
												  @didAnswer="onDidAnswer"></multiple-choice-question>

						<scale-question v-else-if="question.question.type === 'S'"
										:question="question"
										@didAnswer="onDidAnswer"></scale-question>

						<ranking-question v-else-if="question.question.type === 'RK'"
										  :question="question"
										  @didAnswer="onDidAnswer"></ranking-question>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {
	IonCol,
	IonContent,
	IonGrid,
	IonPage,
	IonRow,
	onIonViewWillEnter,
	onIonViewWillLeave,
	useIonRouter
} from "@ionic/vue";
import {useRoute} from "vue-router";
import useParticipantWatcher from "@/composables/participantWatcher";
import {useStore} from "vuex";
import {computed, watchEffect} from "vue";
import {Question} from "@/model/Question";
import NavigationBack from "@/components/NavigationBack.vue";
import SingleChoiceQuestion from "@/components/participation/questions/SingleChoiceQuestion.vue";
import ScaleQuestion from "@/components/participation/questions/ScaleQuestion.vue";
import MultipleChoiceQuestion from "@/components/participation/questions/MultipleChoiceQuestion.vue";
import RankingQuestion from "@/components/participation/questions/RankingQuestion.vue";
import useParticipationAPI from "@/composables/apis/participationApi";
import useToastMessage from "@/composables/toastMessage";

export default {
	name: "ParticipateQuestionView",
	components: {
		RankingQuestion,
		MultipleChoiceQuestion,
		ScaleQuestion, SingleChoiceQuestion, NavigationBack, IonPage, IonContent, IonGrid, IonRow, IonCol},
	setup() {
		const route = useRoute();
		const router = useIonRouter();
		const store = useStore();

		const {sendAnswer} = useParticipationAPI();
		const {openToast} = useToastMessage();
		const {stopTokenWatcher} = useParticipantWatcher();

		const session = computed(() => store.getters.participateSession);
		const question = computed(() => session.value && session.value.questions ? session.value.questions.find((q: Question) => q._id === route.params.questionId) : null);

		const onQuestionAnswered = () => {
			if(question.value) {
				if(question.value.shareResults) {
					// router.replace({name: 'participateQuestionResults', params: {questionId: route.params.questionId}})
					router.push({name: 'participateQuestionResults', params: {questionId: route.params.questionId}})
				} else {
					// router.replace({name: 'participateOverview'});
					router.push({name: 'participateOverview'});
				}
			}
		};

		const stopIsOpenWatcher = watchEffect(() => {
			if(question.value && !question.value.isOpen) {
				openToast('participate.question.hasClosed', 5000).then(() => onQuestionAnswered())
			}
		});

		onIonViewWillEnter(async () => {
			const participatedQuestions = await store.dispatch('getParticipatedQuestions');
			if(question.value && participatedQuestions.includes(question.value._id)) {
				onQuestionAnswered();
			}
		})

		onIonViewWillLeave(() => {
			stopTokenWatcher();
			stopIsOpenWatcher();
		})

		return {
			question,
			onDidAnswer: async (answer: any) => {
				sendAnswer(answer).then(() => {
					onQuestionAnswered();
				})
			},
			route
		}
	}
}
</script>

<style scoped>

</style>