<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid v-if="question && loaded">
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<navigation-back :back-route="{name: 'participateOverview', params: {code: route.params.code}}"></navigation-back>
						<h1>{{question.question.text}}</h1>

						<single-choice-result v-if="question.question.type === 'SC'"
												:question="question"></single-choice-result>

						<multiple-choice-result v-else-if="question.question.type === 'MC'"
												  :question="question"></multiple-choice-result>

						<scale-result v-else-if="question.question.type === 'S'"
										:question="question"></scale-result>

						<ranking-result v-else-if="question.question.type === 'RK'"
										  :question="question"></ranking-result>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {
	IonCol,
	IonContent,
	IonGrid,
	IonPage,
	IonRow,
	onIonViewWillEnter,
	onIonViewWillLeave,
	useIonRouter
} from "@ionic/vue";
import {useRoute} from "vue-router";
import useParticipantWatcher from "@/composables/participantWatcher";
import {useStore} from "vuex";
import {computed, ref, watchEffect} from "vue";
import {SessionQuestion} from "@/model/Question";
import useToastMessage from "@/composables/toastMessage";
import NavigationBack from "@/components/NavigationBack.vue";
import SingleChoiceResult from "@/components/participation/results/SingleChoiceResult.vue";
import MultipleChoiceResult from "@/components/participation/results/MultipleChoiceResult.vue";
import ScaleResult from "@/components/participation/results/ScaleResult.vue";
import RankingResult from "@/components/participation/results/RankingResult.vue";

export default {
	name: "ParticipateQuestionResultsView",
	components: {
		RankingResult,
		ScaleResult,
		MultipleChoiceResult,
		SingleChoiceResult,
		NavigationBack,
		IonPage, IonContent, IonGrid, IonRow, IonCol},
	setup() {
		const router = useIonRouter();
		const route = useRoute();
		const store = useStore();
		const {openToast} = useToastMessage();

		const {stopTokenWatcher} = useParticipantWatcher();
		const loaded = ref(false);

		const session = computed(() => store.getters.participateSession);
		const question = computed(() => session.value && session.value.questions.find((q: SessionQuestion) => q._id === route.params.questionId));

		const stopShareWatcher = watchEffect(() => {
			if(question.value && !question.value.shareResults) {
				openToast('participate.question.noMoreSharing', 5000)
					.then(() => {
						//router.replace({name: 'participateOverview'})
						router.push({name: 'participateOverview'});
					});
			}
		});

		onIonViewWillEnter(() => {
			loaded.value = true;
		})

		onIonViewWillLeave(() => {
			loaded.value = false;
			stopTokenWatcher();
			stopShareWatcher();
		})


		return {
			question,
			route, loaded
		}
	}
}
</script>

<style scoped>

</style>