<template>
	<ion-list>
		<ion-list-header>{{$t('participate.mcHeader')}}</ion-list-header>
		<ion-item v-for="(answer, index) in question.question.answers" v-bind:key="answer._id">
			<ion-label>{{answer.text}}</ion-label>
			<ion-checkbox :value="answer.value" :ref="el => { answers[index] = el }" @ionChange="onGiveAnswer"></ion-checkbox>
		</ion-item>
	</ion-list>
	<ion-button :disabled="!isAnswered" @click="onAnswer" expand="block">{{ $t('participate.submitButton')}}</ion-button>
</template>

<script lang="ts">
import {IonButton, IonCheckbox, IonItem, IonLabel, IonList, IonListHeader} from "@ionic/vue";
import {ref} from "vue";

export default {
	name: "MultipleChoiceQuestion",
	components: {IonItem, IonLabel, IonList, IonListHeader, IonCheckbox, IonButton},
	props: {
		question: {
			required: true
		}
	},
	emits: ['didAnswer'],
	setup(props: any, context: any) {
		const answers = ref([]);
		const isAnswered = ref(false);

		const givenAnswers = () : number[] => {
			const givenAnswers: number[] = [];
			answers.value.forEach((answer: any ) => {
				if(answer.$el.checked) {
					givenAnswers.push(answer.value);
				}
			});
			return givenAnswers;
		};

		return {
			answers, isAnswered,
			onGiveAnswer: () => {
				isAnswered.value = givenAnswers().length > 0;
			},
			onAnswer: () => {
				if(isAnswered.value) {
					context.emit('didAnswer', {questionId: props.question._id, answer: givenAnswers()});
				}
			}
		}
	}
}
</script>

<style scoped>

</style>