<template>
	<ion-list>
		<ion-list-header>{{$t('participate.rankingHeader')}}</ion-list-header>
		<ion-reorder-group  @ionItemReorder="doReorder($event)" :disabled="false">
			<ion-item v-for="answer in orderedAnswers" v-bind:key="answer._id">
				<ion-reorder slot="start"></ion-reorder>
				<ion-label>{{answer.text}}</ion-label>
			</ion-item>
		</ion-reorder-group>
	</ion-list>
	<ion-button expand="block" @click="onAnswer">{{ $t('participate.submitButton')}}</ion-button>
</template>

<script lang="ts">
import {IonButton, IonItem, IonLabel, IonList, IonListHeader, IonReorder, IonReorderGroup} from "@ionic/vue";
import {ref} from "vue";

export default {
	name: "RankingQuestion",
	components: {IonReorderGroup, IonReorder, IonList, IonListHeader, IonItem, IonLabel, IonButton},
	props: {
		question: {
			required: true
		}
	},
	emits: ['didAnswer'],
	setup(props: any, context: any) {
		const orderedAnswers = ref(props.question.question.answers);
		return {
			orderedAnswers,
			doReorder: (event: CustomEvent) => {
				orderedAnswers.value = event.detail.complete(orderedAnswers.value);
			},
			onAnswer: () => {
				const givenAnswer: number[] = [];
				orderedAnswers.value.forEach((answer: any) => {
					givenAnswer.push(answer.value);
				})
				context.emit('didAnswer', {questionId: props.question._id, answer: givenAnswer});
			}
		}
	}
}
</script>

<style scoped>

</style>