<template>
	<ion-range
			v-model="result"
			:min="minAnswer.value"
			:max="maxAnswer.value"
			:pin="true"
			:pin-formatter="formatPins"
			@ionFocus="touched = true"
			step="1"
			snaps="true">
		<ion-label slot="start">{{ minAnswer.text }}</ion-label>
		<ion-label slot="end">{{ maxAnswer.text }}</ion-label>
	</ion-range>
	<ion-button expand="block" :disabled="!touched" @click="onAnswer" >{{ $t('participate.submitButton')}}</ion-button>
</template>

<script lang="ts">
import {IonButton, IonLabel, IonRange} from "@ionic/vue";
import {computed, ref} from "vue";

export default {
	name: "ScaleQuestion",
	components: {IonRange, IonLabel, IonButton},
	props: {
		question: {
			required: true
		}
	},
	emits: ['didAnswer'],
	setup(props: any, context: any) {
		const question = computed(() => {
			return props.question;
		})
		const minAnswer = computed(() => {
			return question.value.question.answers.find((a: any) => a.value === 0);
		});

		const maxAnswer = computed(() => {
			return question.value.question.answers.find((a: any) => a.value === question.value.question.answers.length - 1);
		});

		const formatPins = (value: number) => {
			const answer = question.value.question.answers.find((a: any) => a.value === value);
			return answer ? answer.text : value;
		};

		const touched = ref(false);
		const result = ref();

		return {
			minAnswer, maxAnswer, formatPins,
			result, touched,
			onAnswer: () => {
				context.emit('didAnswer', {questionId: props.question._id, answer: result.value});
			}
		}
	}
}
</script>

<style scoped>

</style>