<template>
	<ion-list>
		<ion-list-header>{{$t('participate.scHeader')}}</ion-list-header>
		<ion-radio-group v-model="selection">
			<ion-item v-for="answer in question.question.answers" v-bind:key="answer._id">
				<ion-label :for="'a_'+answer.value">{{answer.text}}</ion-label>
				<ion-radio :id="'a_'+answer.value" :value="answer.value"></ion-radio>
			</ion-item>
		</ion-radio-group>
		<ion-button :disabled="!validForm" @click="onAnswer" expand="block">{{ $t('participate.submitButton')}}</ion-button>
	</ion-list>
</template>

<script lang="ts">
import {IonButton, IonItem, IonLabel, IonList, IonListHeader, IonRadio, IonRadioGroup} from "@ionic/vue";
import {useField, useForm} from "vee-validate";
import * as yup from "yup";
import {computed} from "vue";
import {useI18n} from "vue-i18n";

export default {
	name: "SingleChoiceQuestion",
	components: {IonItem, IonLabel, IonRadioGroup, IonRadio, IonList, IonListHeader, IonButton},
	props: {
		question: {
			required: true
		}
	},
	emits: ['didAnswer'],
	setup(props: any, context: any) {
		const {t} = useI18n();
		const {meta: formMeta} = useForm({
			validationSchema: yup.object({
				selection: yup.number().required(t('validation.required')),
			}),
		});

		const { value: selection } = useField('selection');

		const validForm = computed(() => {
			return formMeta.value.valid && formMeta.value.dirty;
		})


		return {
			selection, validForm,
			onAnswer: () => {
				context.emit('didAnswer', {questionId: props.question._id, answer: selection.value});
			}
		}
	}
}
</script>

<style scoped>

</style>