<template>
	<form @submit.prevent="onSubmit">
		<ion-grid>
			<ion-row class="ion-justify-content-start">
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-item>
						<ion-label for="question_edit_text" position="floating">{{ $t('questions.edit.textInput')}}</ion-label>
						<ion-input v-model="questionText"
								   id="question_edit_text"
								   type="text"
								   autofocus
								   autocorrect="on"
								   spellcheck="true"
								   enterkeyhint="next"
						></ion-input>
						<span id="question_edit_text_error">{{ questionTextError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-item>
						<ion-label for="question_edit_type" position="floating">{{ $t('questions.edit.typeSelect')}}</ion-label>
						<ion-select v-model="questionType"
									:ok-text="$t('questions.edit.typeOk')"
									:cancel-text="$t('questions.edit.typeCancel')"
									interface="popover">
							<ion-select-option value="S">{{$t('questions.types.s')}}</ion-select-option>
							<ion-select-option value="SC">{{$t('questions.types.sc')}}</ion-select-option>
							<ion-select-option value="MC">{{$t('questions.types.mc')}}</ion-select-option>
							<ion-select-option value="RK">{{$t('questions.types.rk')}}</ion-select-option>
						</ion-select>
						<span id="question_edit_type_error">{{ questionTypeError }}</span>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-start">
				<ion-col size="12">
					<question-answer-component v-model="questionAnswers"></question-answer-component>
					<span id="question_edit_answer_error">{{ questionAnswersError }}</span>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-start">
				<ion-col size="12">
					<ion-item lines="none">
						<ion-checkbox v-model="questionIsOpen"
									  id="question_edit_isOpen"
									  name="question_edit_isOpen">
						</ion-checkbox>&nbsp;
						<ion-label for="question_edit_isOpen">
							{{ $t('questions.edit.isOpenCheckbox') }}
						</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="12">
					<ion-item lines="none">
						<ion-checkbox v-model="questionShareResults"
									  id="question_edit_shareResults"
									  name="question_edit_shareResults">
						</ion-checkbox>&nbsp;
						<ion-label for="question_edit_shareResults">
							{{ $t('questions.edit.shareResultsCheckbox') }}
						</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-start">
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-button id="submit_question_button"
								:disabled="!validForm"
								expand="full"
								type="submit">
						{{ $t('questions.edit.submitButton') }}
					</ion-button>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-button v-if="!isNew"
								@click="onDeleteQuestion"
								id="delete_question_button"
								color="danger"
								expand="full"
								type="button">
						{{ $t('questions.delete.deleteButton') }}
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</template>

<script lang="ts">
import {
	IonButton,
	IonCheckbox,
	IonCol,
	IonGrid,
	IonInput,
	IonItem,
	IonLabel,
	IonRow,
	IonSelect,
	IonSelectOption, useIonRouter
} from "@ionic/vue";

import {useRoute} from "vue-router";
import QuestionAnswerComponent from "@/components/userSession/question/QuestionAnswerComponent.vue";
import useQuestionEditForm from "@/composables/forms/questionEditForm";
import useQuestionAPI from "@/composables/apis/questionApi";
import {ref} from "vue";
import {useStore} from "vuex";

export default {
	name: "QuestionEditComponent",
	components: {
		QuestionAnswerComponent,
		IonGrid, IonRow, IonCol, IonButton, IonItem, IonLabel, IonInput, IonSelect, IonSelectOption, IonCheckbox},
	props: {
		question: {
			required: true
		}
	},
	setup(props: any) {
		const route = useRoute();
		const router = useIonRouter();
		const store = useStore();

		const {insertQuestion, updateQuestion, deleteQuestion} = useQuestionAPI();

		const isNew = ref(!route.params.id);

		const { questionText, questionTextError,
				questionType, questionTypeError,
				questionAnswers, questionAnswersError,
				questionIsOpen, questionShareResults,
				validForm} = useQuestionEditForm(props.question);

		return {
			questionText, questionTextError,
			questionType, questionTypeError,
			questionAnswers, questionAnswersError,
			questionIsOpen, questionShareResults,
			validForm, isNew,
			onSubmit: () => {
				if(!validForm) {
					return false;
				}

				const data = {
					text: questionText.value,
					type: questionType.value,
					answers: questionAnswers.value,
					open: questionIsOpen.value,
					shareResults: questionShareResults.value
				}

				if(isNew.value) {
					insertQuestion(data, String(route.params.sessionId)).then(async (questionId: string|null) => {
						if(questionId) {
							store.dispatch('addUserSession', {sessionId: String(route.params.sessionId)}).then(() => {
								router.push({name: 'sessionEdit', params: {id: String(route.params.sessionId)}});
							});

						}
					})
				} else {
					updateQuestion(data, String(route.params.id), String(route.params.sessionId)).then(async (success) => {
						if(success) {
							store.dispatch('addUserSession', {sessionId: String(route.params.sessionId)}).then(() => {
								router.push({name: 'sessionEdit', params: {id: String(route.params.sessionId)}});
							});
						}
					})
				}
			},
			onDeleteQuestion: () => {
				if(isNew.value) {
					return;
				}

				deleteQuestion(String(route.params.sessionId), String(route.params.id)).then(async (success) => {
					if(success) {
						router.push({name: 'sessionEdit', params: {id: String(route.params.sessionId)}});
					}
				});
			}
		}
	}
}
</script>

<style scoped>
ion-item span, #question_edit_answer_error {
	font-size: smaller;
	color: var(--ion-color-danger);
}
</style>