<template>
	<ion-popover :is-open="isOpen"
				 :event="event"
				 side="start"
				 class="popover-start"
				 @didDismiss="$emit('didDismiss', true)">
		<ion-content class="ion-padding">

			<ion-button v-if="question.isOpen"
						id="question_list_menu_close"
						expand="full"
						@click="$emit('changedOpenState', false)">
				{{$t('questions.menu.close')}}
			</ion-button>
			<ion-button v-else
						id="question_list_menu_open"
						expand="full"
						@click="$emit('changedOpenState', true)">
				{{$t('questions.menu.open')}}
			</ion-button>

			<ion-button v-if="question.results.length > 0"
						id="question_list_results_view"
						expand="full"
						@click="$emit('didViewResults', true)">
				{{$t('questions.menu.viewResults')}}
			</ion-button>

			<ion-button v-if="question.shareResults"
						id="question_list_results_hide"
						expand="full"
						@click="$emit('changedShareState', false)">
				{{$t('questions.menu.hideResults')}}
			</ion-button>
			<ion-button v-else
						id="question_list_results_share"
						expand="full"
						@click="$emit('changedShareState', true)">
				{{$t('questions.menu.shareResults')}}
			</ion-button>

			<ion-button id="question_list_edit"
						expand="full"
						@click="$emit('didEditQuestion', true)">
				{{$t('questions.menu.edit')}}
			</ion-button>
		</ion-content>
	</ion-popover>
</template>

<script>
import {IonButton, IonContent, IonPopover} from "@ionic/vue";

export default {
	name: "QuestionListMenuPopover",
	components: {IonPopover, IonContent, IonButton},
	props: {
		isOpen: {
			type: Boolean,
			required: true
		},
		event: {
			required: false
		},
		question: {
			required: true
		}
	},
	emits: ['didDismiss', 'didViewResults', 'didEditQuestion', 'changedShareState', 'changedOpenState'],
}
</script>

<style scoped>
.popover-start {
	--offset-y: -100px;
}
</style>