<template>
	<h2>{{$t('sessions.edit.questions')}}</h2>
	<ion-list v-if="questions.length > 0">
		<question-list-item-component v-for="question in questions" v-bind:key="question._id"
									  :question="question"
									  @changedOpenState="onOpenStateChanged(question._id, $event)"
									  @changedShareState="onSharedStateChanged(question._id, $event)">
		</question-list-item-component>
	</ion-list>
	<ion-card v-else color="light">
		<ion-card-content v-html="$t('sessions.edit.noQuestionsYet', {addButton: $t('sessions.edit.addQuestionButton')})">
		</ion-card-content>
	</ion-card>

	<ion-grid>
		<ion-row class="ion-justify-content-start">
			<ion-col size-xs="12" size-sm="12" size-md="6">
				<ion-button id="session_edit_add_question"
							@click="onAddQuestion"
							expand="full">
					{{$t('sessions.edit.addQuestionButton')}}
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

</template>

<script lang="ts">
import {IonButton, IonCard, IonCardContent, IonList, IonGrid, IonRow, IonCol, useIonRouter} from "@ionic/vue";
import {useRoute} from "vue-router";

import useQuestionAPI from "@/composables/apis/questionApi";
import {SessionQuestion} from "@/model/Question";
import QuestionListItemComponent from "@/components/userSession/question/QuestionListItemComponent.vue";

export default {
	name: "QuestionListComponent",
	props: {
		questions: Array
	},
	emits: ['update:questions'],
	components: {
		QuestionListItemComponent,
		IonList, IonButton, IonCard, IonCardContent, IonGrid, IonRow, IonCol},

	setup(props: any, context: any) {
		const router = useIonRouter();
		const route = useRoute();

		const {updateQuestion} = useQuestionAPI();

		return {
			onAddQuestion: () => {
				router.push({name: 'questionAdd', params: {sessionId: String(route.params.id)}})
			},
			//menu options
			onOpenStateChanged: async (questionId: string, open: boolean) => {
				if(await updateQuestion({open: open}, questionId, String(route.params.id), true)) {
					const questions = props.questions;

					const index = questions.findIndex((question: SessionQuestion) => question._id === questionId);
					questions[index].isOpen = open;
					context.emit('update:questions', questions);
				}
			},
			onSharedStateChanged: async (questionId: string, share: boolean) => {
				if(await updateQuestion({shareResults: share}, questionId, String(route.params.id), true)) {
					const questions = props.questions;

					const index = questions.findIndex((question: SessionQuestion) => question._id === questionId);
					questions[index].shareResults = share;
					context.emit('update:questions', questions);
				}
			}
		}
	}
}
</script>

<style scoped>

</style>