<template>
	<ion-item button detail @click="onEditQuestion(question._id)">
		<ion-button v-if="showIcons"
					@click.stop="onOpenStateChanged(!question.isOpen)"
					fill="clear">
			<open-closed-icon
					:open-state="question.isOpen"
					slot="icon-only"
					></open-closed-icon>
		</ion-button>
		<ion-button v-if="showIcons"
					@click.stop="onSharedStateChanged(!question.shareResults)"
					fill="clear"
					class="ion-margin-horizontal">
			<visible-hide-icon
					:visible-state="question.shareResults"
					slot="icon-only"
					></visible-hide-icon>
		</ion-button>

		<ion-label>{{ question.question.text }}</ion-label>
		<ion-button slot="end" fill="clear" @click.stop="setOpenPopup(true, $event)">
			<ion-icon slot="icon-only" :icon="menu" :ios="menuOutline" :md="menuSharp"></ion-icon>
		</ion-button>

		<question-list-menu-popover :is-open="openPopup"
									:event="popupLocation"
									:question="question"
									@didDismiss="setOpenPopup(false, $event)"
									@changedOpenState="onOpenStateChanged($event)"
									@changedShareState="onSharedStateChanged($event)"
									@didEditQuestion="onEditQuestion(question._id)"
									@didViewResults="onViewResults(question._id)">

		</question-list-menu-popover>
	</ion-item>
</template>

<script lang="ts">
import {IonButton, IonIcon, IonItem, IonLabel, useIonRouter} from "@ionic/vue";
import {menu, menuOutline, menuSharp} from "ionicons/icons";
import {computed, ref} from "vue";
import {useRoute} from "vue-router";

import OpenClosedIcon from "../OpenClosedIcon.vue";
import VisibleHideIcon from "../VisibleHideIcon.vue";
import QuestionListMenuPopover from "./QuestionListMenuPopover.vue";
import useBreakpoints from "@/composables/breakpoints";
export default {
	name: "QuestionListItemComponent",
	components: {IonItem, IonLabel, IonButton, IonIcon, QuestionListMenuPopover, VisibleHideIcon, OpenClosedIcon},
	props: {
		question: {
			required: true
		}
	},
	emits: ['changedShareState', 'changedOpenState'],
	setup(props: any, context: any) {
		const router = useIonRouter();
		const route = useRoute();

		const openPopup = ref(false);
		const popupLocation = ref();

		const sessionId = String(route.params.id);

		const {type} = useBreakpoints();
		const showIcons = computed(() => {
			return (!['xs', 'sm'].includes(type.value));
		})

		return {
			menu, menuOutline, menuSharp,
			openPopup, popupLocation, showIcons,
			setOpenPopup: (open: boolean, ev: Event) => {
				openPopup.value = open;
				popupLocation.value = ev;
			},
			//menu options
			onOpenStateChanged: async (open: boolean) => {
				openPopup.value = false;
				context.emit('changedOpenState', open);
			},
			onSharedStateChanged: async (share: boolean) => {
				openPopup.value = false;
				context.emit('changedShareState', share);
			},
			onViewResults: (questionId: string) => {
				openPopup.value = false;
				router.push({name: 'questionResults', params: {sessionId: sessionId, id: questionId}});
			},
			onEditQuestion: (questionId: string) => {
				openPopup.value = false;
				router.push({name: 'questionEdit', params: {sessionId: sessionId, id: questionId}});
			}
		}
	}
}
</script>

<style scoped>

</style>