<template>
	<h2>{{$t('questions.edit.answerList')}}</h2>
	<ion-reorder-group  @ionItemReorder="doReorder($event)" :disabled="false">
		<ion-item  v-for="(answer, index) in modelValue" v-bind:key="answer._id" >
			<ion-reorder slot="start"></ion-reorder>

			<ion-input v-if="editIndex === index"
					   v-model="answer.text"
					   @keydown.enter="editIndex = null"></ion-input>
			<ion-label v-else class="ion-text-wrap">{{answer.text}}</ion-label>

			<ion-button v-if="editIndex === index"
						@click="editIndex = null"
						fill="clear"
						slot="end">
				<ion-icon :icon="checkmarkDone" :ios="checkmarkDoneOutline" :md="checkmarkDoneSharp" slot="icon-only" alt="foo" title="bar"/>
			</ion-button>
			<ion-button v-else
						@click="editIndex = index"
						fill="clear"
						slot="end">
				<ion-icon :icon="create" :ios="createOutline" :md="createSharp" slot="icon-only"/>
			</ion-button>
			<ion-button @click="onDeleteAnswer(index)"
						fill="clear"
						slot="end">
				<ion-icon :icon="trash" :ios="trashOutline" :md="trashSharp" slot="icon-only"/>
			</ion-button>
		</ion-item>
	</ion-reorder-group>
	<ion-item>
		<ion-label for="question_edit_new_answer" position="stacked">{{$t('questions.edit.answerInput')}}</ion-label>
		<ion-input ref="newAnswerField"
				   id="question_edit_new_answer"
				   v-model="newAnswer"
				   @keydown.enter="onAddAnswer"
				   @keydown.tab.prevent="onAddAnswer"></ion-input>
		<ion-button @click="onAddAnswer"
					:disabled="!newAnswer"
					fill="clear"
					slot="end"
					class="ion-align-self-end">
			<ion-icon :icon="addCircle" :ios="addCircleOutline" :md="addCircleSharp" slot="icon-only"/>
		</ion-button>
	</ion-item>
</template>

<script lang="ts">
import {
	IonButton,
	IonIcon,
	IonInput,
	IonItem,
	IonLabel,
	IonReorder,
	IonReorderGroup,
} from "@ionic/vue";

import {addCircle, addCircleOutline, addCircleSharp,
	trash, trashOutline, trashSharp,
	create, createOutline, createSharp,
	checkmarkDone, checkmarkDoneOutline, checkmarkDoneSharp} from "ionicons/icons";
import {ref} from 'vue';

export default {
	name: "QuestionAnswerComponent",
	props: {
		modelValue: Array
	},
	emits: ['update:modelValue'],
	components: {IonReorderGroup, IonReorder, IonItem, IonInput, IonLabel, IonIcon, IonButton},
	setup(props: any, context: any) {
		const newAnswer = ref(null);
		const newAnswerField = ref();
		const editIndex = ref(null);
		let increment = 0;

		return {
			addCircle, addCircleOutline, addCircleSharp,
			trash, trashOutline, trashSharp,
			create, createOutline, createSharp,
			checkmarkDone, checkmarkDoneOutline, checkmarkDoneSharp,
			editIndex,
			newAnswer, newAnswerField,
			onAddAnswer: () => {
				editIndex.value = null;
				if(newAnswer.value) {
					const givenAnswer = newAnswer.value;
					const answers = props.modelValue;
					answers.push({_id: increment, text: givenAnswer, new: true});
					context.emit('update:modelValue', answers);
					// props.modelValue.push({_id: increment, value: givenAnswer, new: true});
					newAnswer.value = null;
					increment++;
					newAnswerField.value.$el.firstChild.focus();
				}
			},
			doReorder: (event: CustomEvent) => {
				editIndex.value = null;
				// editQuestion.answers.splice(event.detail.to, 0, editQuestion.answers.splice(event.detail.from, 1)[0])
				const answers = props.modelValue;
				context.emit('update:modelValue', event.detail.complete(answers));
				// context.emit('update:modelValue', answers);
			},
			onDeleteAnswer: (index: number) => {
				const answers = props.modelValue;
				answers.splice(index, 1);
				context.emit('update:modelValue', answers);
				// props.modelValue.splice(index, 1);
				editIndex.value = null;
			},
		}
	}
}
</script>

<style scoped>

</style>