<template>
	<canvas :id="canvasName" tabindex="0"></canvas>
</template>

<script lang="ts">
import {useStore} from "vuex";
import {computed} from "vue";
import {SessionQuestion} from "@/model/Question";
import useRankingChart from "@/composables/charts/rankingChart";

export default {
	name: "RankingResult",
	props: {
		question: {
			required: true
		},
		session: {
			required: false
		}
	},
	setup(props: any) {
		const store = useStore();
		const session = computed(() => props.session ? props.session : store.getters.participateSession);
		const questionIndex = computed(() => session.value.questions.findIndex((q: SessionQuestion) => q._id === props.question._id));

		const canvasName = computed(() => 'chart_'+props.question._id);
		const {chart} = useRankingChart(session, questionIndex, canvasName);

		return {
			chart, canvasName
		}
	}
}
</script>

<style scoped>

</style>