<template>
	<form @submit.prevent="onSubmit">
		<ion-grid>
			<ion-row class="ion-justify-content-start">
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-item>
						<ion-label for="login_username"
								   position="floating">
							{{ $t('login.emailInput') }}
						</ion-label>
						<ion-input v-model="username"
								   id="login_username"
								   name="login_username"
								   type="email"
								   autocomplete="email"
								   autofocus
								   clear-input
								   enterkeyhint="next"
								   inputmode="email"
								   required>

						</ion-input>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-item>
						<ion-label for="login_password"
								   position="floating">
							{{ $t('login.passwordInput') }}
						</ion-label>
						<ion-input v-model="password"
								   id="login_password"
								   name="login_password"
								   type="password"
								   autocomplete="current-password"
								   clear-input
								   enterkeyhint="send"
								   required>
						</ion-input>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-button id="submit_button"
								expand="full"
								type="submit"
								:disabled="password === '' || username === ''">
						{{ $t('login.submitButton') }}
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</template>

<script>
import {ref} from "vue";
import {IonGrid, IonRow, IonCol, IonItem, IonInput, IonLabel, IonButton, useIonRouter, isPlatform} from "@ionic/vue";
import useAuthAPI from "../../composables/apis/authApi";

export default {
	name: "LoginComponent",
	components: {IonGrid, IonRow, IonCol, IonItem, IonInput, IonLabel, IonButton},
	setup() {
		const username = ref('');
		const password = ref('');

		const router = useIonRouter();
		const { login } = useAuthAPI();

		const onSubmit = function () {
			if(username.value === '' || password.value === '') {
				return false;
			}

			login(username.value, password.value, isPlatform('hybrid')).then((success) => {
				if(success) {
					router.push({name: 'sessionList'});
				}
			})
		}

		return {
			username, password, onSubmit
		}
	}
}
</script>

<style scoped>

</style>