<template>
	<form @submit.prevent="onSubmit">
		<ion-grid>
			<ion-row class="ion-justify-content-start">
				<ion-col size="12">
					<ion-item>
						<ion-label for="register_username"
								   position="floating">
							{{ $t('registration.emailInput') }}
						</ion-label>
						<ion-input v-model="username"
								   id="register_username"
								   name="register_username"
								   type="email"
								   autocomplete="email"
								   autofocus
								   clear-input
								   enterkeyhint="next"
								   inputmode="email">
						</ion-input>
						<span id="register_username_error">{{ usernameError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-item>
						<ion-label for="register_password"
								   position="floating">
							{{ $t('registration.passwordInput') }}
						</ion-label>
						<ion-input v-model="password"
								   id="register_password"
								   name="register_password"
								   type="password"
								   autocomplete="new-password"
								   clearOnEdit="false"
								   clear-input
								   enterkeyhint="next">
						</ion-input>
						<span id="register_password_error">{{ passwordError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-item>
						<ion-label for="register_password_repeat"
								   position="floating">
							{{ $t('registration.passwordRepeatInput') }}
						</ion-label>
						<ion-input v-model="passwordRepeat"
								   id="register_password_repeat"
								   name="register_password_repeat"
								   type="password"
								   autocomplete="none"
								   clearOnEdit="false"
								   clear-input
								   enterkeyhint="next">
						</ion-input>
						<span id="register_password_repeat_error">{{ passwordRepeatError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size="12">
					<ion-item>
						<ion-label for="register_display_name"
								   position="floating">
							{{ $t('registration.displayNameInput') }}
						</ion-label>
						<ion-input v-model="displayName"
								   id="register_display_name"
								   name="register_display_name"
								   type="text"
								   autocomplete="name"
								   clear-input
								   enterkeyhint="send"
								   inputmode="text">
						</ion-input>
						<span id="register_display_name_error">{{ displayNameError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size="12">
					<ion-item lines="none">
						<ion-checkbox v-model="acceptLegal"
									  id="register_legal"
									  name="register_legal">
						</ion-checkbox>&nbsp;
						<ion-label for="register_legal">
							{{ $t('registration.acceptLegalCheck') }}
						</ion-label>
						<span id="register_legal_error">{{ acceptLegalError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-button id="submit_button"
								expand="full"
								type="submit"
								:disabled="!validForm">
						{{ $t('registration.submitButton') }}
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</template>

<script lang="ts">
import {IonButton, IonCheckbox, IonCol, IonGrid, IonInput, IonItem, IonLabel, IonRow, useIonRouter} from "@ionic/vue";

import useRegistrationForm from '../../composables/forms/registrationForm';
import useAuthAPI from "../../composables/apis/authApi";

export default {
	name: "RegistrationComponent",
	components: {IonGrid, IonRow, IonCol, IonItem, IonInput, IonLabel, IonButton, IonCheckbox},
	setup() {
		const router = useIonRouter();

		const { signup } = useAuthAPI();

		const { username, displayName, password, passwordRepeat, acceptLegal,
			usernameError, displayNameError, passwordError, passwordRepeatError, acceptLegalError,
			validForm } = useRegistrationForm();

		const onSubmit = function () {
			if(!validForm.value) {
				return false;
			}

			const data = {
				username: String(username.value),
				email: String(username.value),
				password: String(password.value),
				displayName: String(displayName.value === '' ? username.value : displayName.value)
			};

			signup(data).then((success) => {
				if(success) {
					router.push({name: 'login'});
				}
			})
		}

		return {
			username, displayName, password, passwordRepeat, acceptLegal,
			validForm,
			usernameError, passwordError, passwordRepeatError, acceptLegalError, displayNameError,
			onSubmit
		}
	}
}
</script>

<style scoped>
	ion-item span {
		font-size: smaller;
		color: var(--ion-color-danger);
	}
</style>