<template>
	<ion-header>
		<ion-toolbar color="primary">
			<ion-buttons slot="start" v-if="showBackButton">
				<ion-back-button default-href="/"
								 :text="$t('navigation.back')"></ion-back-button>
			</ion-buttons>
			<ion-title>{{ $t('appTitle') }}
			</ion-title>
		</ion-toolbar>
	</ion-header>
</template>

<script lang="ts">
import {IonHeader, IonTitle, IonToolbar, IonButtons, IonBackButton, isPlatform} from "@ionic/vue";

export default {
	name: "AppHeader",
	components: {IonHeader, IonToolbar, IonTitle, IonButtons, IonBackButton},
	setup() {
		return {
			showBackButton: isPlatform('ios')
		}
	}
}
</script>

<style scoped>

</style>