<template>
	<ion-toolbar>
		<ion-buttons>
			<ion-button router-direction="back" @click="onNavigateBack">
				<ion-icon :icon="chevronBack" :ios="chevronBackOutline" :md="chevronBackSharp"></ion-icon>
				{{$t('navigation.back')}}
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</template>

<script lang="ts">
import {IonButton, IonButtons, IonIcon, IonToolbar, useIonRouter} from "@ionic/vue";
import {chevronBack, chevronBackOutline, chevronBackSharp} from 'ionicons/icons';

export default {
	name: "NavigationBack",
	components: {IonToolbar, IonButtons, IonButton, IonIcon},
	props: ['backRoute'],
	setup(props: any) {
		const router = useIonRouter();
		return {
			chevronBack, chevronBackOutline, chevronBackSharp,
			onNavigateBack: () => {
				if(props.backRoute) {
					//router.replace(props.backRoute);
					router.push(props.backRoute);
				} else {
					router.back();
				}
			}
		}
	}
}
</script>

<style scoped>

</style>