<template>
	<ion-content class="ion-padding">
		<ion-button id="settings_button_logout"
					expand="full"
					@click="onLogout">
			{{$t('settings.logout')}}
		</ion-button>
	</ion-content>
</template>

<script>
import {IonContent, IonButton, useIonRouter} from "@ionic/vue";
import {useStore} from "vuex";

export default {
	name: "UserSettingsPopover",
	emits: ['didDismiss'],
	components: {IonContent, IonButton},
	setup(props, context) {
		const store = useStore();
		const router = useIonRouter();

		return {
			onLogout: async () => {
				store.dispatch('logoutUser').then(() => {
					// router.replace('/');
					router.push('/');
					context.emit('didDismiss', true)
				});
			}
		}
	}
};
</script>

<style scoped>

</style>