<template>
	<ion-icon v-if="openState" :icon="lockOpen" :ios="lockOpenOutline" :md="lockOpenSharp" name="icon-open"/>
	<ion-icon v-else :icon="lockClosed" :ios="lockClosedOutline" :md="lockClosedSharp" name="icon-close"/>
</template>

<script>
import {IonIcon} from "@ionic/vue";
import {lockClosed, lockClosedOutline, lockClosedSharp, lockOpen, lockOpenOutline, lockOpenSharp} from "ionicons/icons";

export default {
	name: "OpenClosedIcon",
	components: {IonIcon},
	props: {
		openState: {
			type: Boolean,
			required: true
		}
	},
	setup() {
		return {
			lockClosed, lockClosedOutline, lockClosedSharp,
			lockOpen, lockOpenOutline, lockOpenSharp
		}
	}
}
</script>

<style scoped>
	[name='icon-open'] {
		color: var(--ion-color-success);
	}
	[name='icon-close'] {
		color: var(--ion-color-danger);
	}
</style>