<template>
	<ion-icon v-if="visibleState" :icon="eye" :ios="eyeOutline" :md="eyeSharp" name="icon-visible"/>
	<ion-icon v-else :icon="eyeOff" :ios="eyeOffOutline" :md="eyeOffSharp" name="icon-hidden"/>
</template>

<script>
import {IonIcon} from "@ionic/vue";
import {eye, eyeOutline, eyeSharp, eyeOff, eyeOffOutline, eyeOffSharp} from "ionicons/icons";

export default {
	name: "VisibleHideIcon",
	components: {IonIcon},
	props: {
		visibleState: {
			type: Boolean,
			required: true
		}
	},
	setup() {
		return {
			eye, eyeOutline, eyeSharp,
			eyeOff, eyeOffOutline, eyeOffSharp
		}
	}
}
</script>

<style scoped>
[name='icon-visible'] {
	color: var(--ion-color-success);
}
[name='icon-hidden'] {
	color: var(--ion-color-danger);
}
</style>