<template>
	<ion-page>
		<ion-tabs>
			<app-header></app-header>
			<ion-router-outlet></ion-router-outlet>
			<ion-tab-bar>
				<ion-tab-button tab="leave"
								@click="onLeaveGroup"
								:layout="isApp ? 'icon-top' : 'icon-start'">
					<ion-icon :icon="backspace" :ios="backspaceOutline" :md="backspaceSharp"/>
					<ion-label>{{ $t('participate.tabLeave') }}</ion-label>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-page>
</template>

<script lang="ts">
import {IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet, useIonRouter} from '@ionic/vue';
import {
	backspace, backspaceOutline, backspaceSharp
} from 'ionicons/icons';

import AppHeader from "@/components/AppHeader.vue";
import useBreakpoints from "@/composables/breakpoints";
import {useStore} from "vuex";

export default {
	name: 'ParticipationTabs',
	components: {AppHeader, IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet},
	setup() {
		const store = useStore();
		const router = useIonRouter();

		const {isApp} = useBreakpoints();
		return {
			backspace, backspaceOutline, backspaceSharp,
			isApp,
			onLeaveGroup: () => {
				store.dispatch('leaveSession').then(() => {
					// router.replace('/');
					router.push('/');
				});
			}
		}
	}
}
</script>