<template>
	<ion-page>
		<ion-tabs>
			<app-header></app-header>

			<ion-router-outlet></ion-router-outlet>
			<ion-tab-bar :slot="menuPos">
				<ion-tab-button tab="join"
								href="/tabs/join"
								:layout="isApp ? 'icon-top' : 'icon-start'">
					<ion-icon :icon="people" :ios="peopleOutline" :md="peopleSharp"/>
					<ion-label>{{ $t('participate.tab') }}</ion-label>
				</ion-tab-button>

				<ion-tab-button tab="login"
								href="/tabs/login"
								:layout="isApp ? 'icon-top' : 'icon-start'">
					<ion-icon :icon="logIn" :ios="logInOutline" :md="logInSharp"/>
					<ion-label> {{ $t('login.tab') }}</ion-label>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-page>
</template>

<script lang="ts">
import {IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet} from '@ionic/vue';
import {
	logIn, logInOutline, logInSharp,
	people, peopleOutline, peopleSharp
} from 'ionicons/icons';

import AppHeader from "@/components/AppHeader.vue";
import useBreakpoints from "@/composables/breakpoints";

export default {
	name: 'PublicTabs',
	components: {AppHeader, IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet},
	setup() {
		const {menuPos, isApp} = useBreakpoints();
		return {
			logIn, logInOutline, logInSharp,
			people, peopleOutline, peopleSharp,
			menuPos, isApp
		}
	}
}
</script>