<template>
	<ion-page>
		<ion-tabs>
			<app-header></app-header>

			<ion-router-outlet></ion-router-outlet>
			<ion-tab-bar :slot="menuPos">
				<ion-tab-button tab="sessions"
								href="/user/session"
								:layout="isApp ? 'icon-top' : 'icon-start'">
					<ion-icon :icon="albums" :ios="albumsOutline" :md="albumsSharp"/>
					<ion-label>{{ $t('sessions.tab') }}</ion-label>
				</ion-tab-button>

				<ion-tab-button tab="settings"
								:layout="isApp ? 'icon-top' : 'icon-start'"
								@click="setOpen(true, $event)">
					<ion-icon :icon="person" :ios="personOutline" :md="personSharp"/>
					<ion-label> {{ $t('settings.tab') }}</ion-label>
				</ion-tab-button>
				<ion-popover
						:is-open="isOpenRef"
						:event="event"
						:side="menuPos === 'bottom' ? 'top' : 'bottom'"
						:class="menuPos === 'bottom' ? 'popover-top' : 'popover-bottom'"
						@didDismiss="setOpen(false)">
					<user-settings-popover @didDismiss="setOpen(false)"></user-settings-popover>
				</ion-popover>
			</ion-tab-bar>
		</ion-tabs>
	</ion-page>
</template>

<script lang="ts">
import {
	IonTabBar,
	IonTabButton,
	IonTabs,
	IonLabel,
	IonIcon,
	IonPage,
	IonRouterOutlet,
	IonPopover
} from '@ionic/vue';

import {
	albums, albumsOutline, albumsSharp,
	person, personOutline, personSharp
} from 'ionicons/icons';

import {ref} from "vue";
import useBreakpoints from "@/composables/breakpoints";
import UserSettingsPopover from '@/components/UserSettingsPopover.vue';
import AppHeader from "@/components/AppHeader.vue";

export default {
	name: 'UserTabs',
	components: {
		AppHeader,
		UserSettingsPopover,
		IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet, IonPopover},
	setup() {
		const {menuPos, isApp} = useBreakpoints();

		const isOpenRef = ref(false);
		const event = ref();
		const setOpen = (state: boolean, ev?: Event) => {
			event.value = ev;
			isOpenRef.value = state;
		};

		return {
			albums, albumsOutline, albumsSharp,
			person, personOutline, personSharp,
			menuPos, isApp,
			isOpenRef, event, setOpen
		}
	}
}
</script>

<style scoped>
.popover-bottom {
	--offset-y: -40px
}
</style>