<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid v-if="session && question && loaded">
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<navigation-back :back-route="{name: 'sessionEdit', params: {id: session._id}}"></navigation-back>
						<h1>{{question.question.text}}</h1>

						<single-choice-result v-if="question.question.type === 'SC'"
											  :question="question" :session="session"></single-choice-result>

						<multiple-choice-result v-else-if="question.question.type === 'MC'"
												:question="question" :session="session"></multiple-choice-result>

						<scale-result v-else-if="question.question.type === 'S'"
									  :question="question" :session="session"></scale-result>

						<ranking-result v-else-if="question.question.type === 'RK'"
										:question="question" :session="session"></ranking-result>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {IonCol, IonContent, IonGrid, IonPage, IonRow, onIonViewWillLeave, onIonViewWillEnter} from "@ionic/vue";
import {computed, ref} from "vue";
import {useRoute} from "vue-router";
import {useStore} from "vuex";

import NavigationBack from "../../components/NavigationBack.vue";
import SingleChoiceResult from "../../components/participation/results/SingleChoiceResult.vue";
import MultipleChoiceResult from "../../components/participation/results/MultipleChoiceResult.vue";
import ScaleResult from "../../components/participation/results/ScaleResult.vue";
import RankingResult from "../../components/participation/results/RankingResult.vue";
import {SessionQuestion} from "@/model/Question";


export default {
	name: "QuestionResultView",
	components: {
		RankingResult,
		ScaleResult,
		MultipleChoiceResult, SingleChoiceResult, NavigationBack, IonPage, IonContent, IonGrid, IonRow, IonCol},
	setup() {
		const route = useRoute();
		const store = useStore();

		const session = computed(() => store.getters.userSession(route.params.sessionId));
		const question = computed(() => session.value ? session.value.questions.find((q: SessionQuestion) => q._id === route.params.id): null);

		const loaded = ref(false);


		onIonViewWillEnter(async () => {
			if(store.getters.userSession(route.params.sessionId) === null) {
				await store.dispatch('addUserSession', {sessionId: route.params.sessionId});
			}
			loaded.value = true;
		})

		onIonViewWillLeave(() => {
			loaded.value = false;
		})

		return {
			session, question, loaded
		}
	}
}
</script>

<style scoped>

</style>