<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid v-if="question && ready">
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<navigation-back :back-route="{name: 'sessionEdit', params: {id: route.params.sessionId}}"></navigation-back>
						<h1>
							<open-closed-icon :open-state="question.isOpen"></open-closed-icon>
							{{ $t('questions.edit.title') }}
						</h1>
						<question-edit-component :question="question"></question-edit-component>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script>
import {IonCol, IonContent, IonGrid, IonPage, IonRow, onIonViewDidLeave, onIonViewWillEnter} from "@ionic/vue";
import {useRoute} from "vue-router";
import {ref} from 'vue';

import useQuestionAPI from "../../composables/apis/questionApi";

import OpenClosedIcon from "../../components/userSession/OpenClosedIcon";
import QuestionEditComponent from "../../components/userSession/question/QuestionEditComponent";
import NavigationBack from "../../components/NavigationBack";

export default {
	name: "QuestionEditView",
	components: {NavigationBack, QuestionEditComponent, OpenClosedIcon, IonPage, IonContent, IonGrid, IonRow, IonCol},

	setup() {
		const route = useRoute();

		const question = ref();
		const ready = ref(false);
		const {getQuestionById} = useQuestionAPI();

		onIonViewWillEnter(async () => {
			question.value = null;
			const q = await getQuestionById(String(route.params.sessionId), String(route.params.id));
			q.question.answers.sort((a, b) => {
				return a.value - b.value;
			})
			question.value = q;
			ready.value = true;
		})

		onIonViewDidLeave(() => {
			ready.value = false;
		})

		return {
			question, ready, route
		}
	}
}
</script>

<style scoped>

</style>