<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid v-if="ready">
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<navigation-back :back-route="{name: 'sessionEdit', params: {id: route.params.sessionId}}"></navigation-back>
						<h1>
							<open-closed-icon :open-state="question.isOpen"></open-closed-icon>
							{{ $t('questions.add.title') }}
						</h1>
						<question-edit-component :question="question"></question-edit-component>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script>
import {
	IonCol,
	IonContent,
	IonGrid,
	IonPage,
	IonRow, onIonViewDidLeave, onIonViewWillEnter
} from "@ionic/vue";
import {ref} from 'vue';

import OpenClosedIcon from "../../components/userSession/OpenClosedIcon";
import QuestionEditComponent from "../../components/userSession/question/QuestionEditComponent";
import NavigationBack from "../../components/NavigationBack";
import {useRoute} from "vue-router";

export default {
	name: "QuestionAddView",
	components: {
		NavigationBack,
		QuestionEditComponent,
		IonPage, IonContent, IonGrid, IonRow, IonCol, OpenClosedIcon},
	setup() {
		const route = useRoute();

		const question = ref({question: {text: '', type: 'SC', answers: []}, isOpen: false, shareResults: false});

		const ready = ref();

		onIonViewWillEnter(() => {
			ready.value = true;
		})

		onIonViewDidLeave(() => {
			ready.value = false;
		})

		return {
			question: question,
			ready, route
		}
	}
}
</script>

<style scoped>

</style>