<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid v-if="session">
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<div>
							<session-edit-fab :session="session"
											  @session-updated="onSessionUpdated"
											  @session-deleted="onSessionDeleted"
											  @edit-mode-changed="onEditModeChanged"></session-edit-fab>
						</div>
						<ion-grid v-if="editMode">
							<ion-row class="ion-justify-content-start">
								<ion-col size="12">
									<ion-item class="session-edit-item">
										<open-closed-icon :open-state="session.isOpen"></open-closed-icon>
										<ion-input v-model="editedSessionName"
												   id="session_edit_change_name"
												   type="text"
												   autocorrect="on"
												   spellcheck="true"
												   enterkeyhint="done"
												   @keydown.enter="onSessionNameChanged"
										></ion-input>
										<ion-button id="session_edit_rename_save_button" slot="end" fill="clear" @click="onSessionNameChanged">
											<ion-icon slot="icon-only" :icon="checkmarkDone" :ios="checkmarkDoneOutline" :md="checkmarkDoneSharp"></ion-icon>
										</ion-button>
										<ion-button id="session_edit_rename_save_button" slot="end" fill="clear" @click="onEditModeChanged">
											<ion-icon slot="icon-only" :icon="close" :ios="closeOutline" :md="closeSharp"></ion-icon>
										</ion-button>
									</ion-item>
								</ion-col>
							</ion-row>
						</ion-grid>
						<h1 v-else>
							<open-closed-icon :open-state="session.isOpen"></open-closed-icon>
							{{ session.name }}
						</h1>
						<small>{{$t('sessions.edit.createdAt')}} {{formatDate(session.createdAt, lang)}}</small>

						<session-share-component :session="session"></session-share-component>

						<question-list-component v-model:questions="session.questions"></question-list-component>


					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {
	IonButton,
	IonCol,
	IonContent,
	IonGrid,
	IonIcon, IonInput, IonItem,
	IonPage,
	IonRow,
	onIonViewWillEnter, useIonRouter
} from "@ionic/vue";
import {computed, ref} from "vue";

import {checkmarkDone, checkmarkDoneOutline, checkmarkDoneSharp,
		close, closeOutline, closeSharp} from 'ionicons/icons';

import {useRoute} from "vue-router";
import {useStore} from "vuex";
import useSessionAPI from "../../composables/apis/sessionApi";
import useDateFormatter from "../../composables/format/dateFormat";
import SessionShareComponent from "@/components/userSession/session/SessionShareComponent.vue";
import SessionEditFab from "@/components/userSession/session/SessionEditFab.vue";
import OpenClosedIcon from "@/components/userSession/OpenClosedIcon.vue";
import QuestionListComponent from "@/components/userSession/question/QuestionListComponent.vue";

export default {
	name: "SessionEditView",
	components: {
		QuestionListComponent,
		OpenClosedIcon,
		SessionEditFab,
		SessionShareComponent,
		IonContent, IonPage, IonGrid, IonRow, IonCol, IonIcon, IonButton, IonItem, IonInput},
	setup() {
		const router = useIonRouter();
		const route = useRoute();
		const store = useStore();
		const {formatDate} = useDateFormatter();

		const {updateSession} = useSessionAPI();
		onIonViewWillEnter(async () => {
			if(store.getters.userSession(route.params.id) === null) {
				await store.dispatch('addUserSession', {sessionId: route.params.id});
			}
		})
		const session = computed(() => store.getters.userSession(route.params.id));

		const editMode = ref(false);
		const editedSessionName = ref('');

		return {
			checkmarkDone, checkmarkDoneOutline, checkmarkDoneSharp,
			close, closeOutline, closeSharp,
			session,
			editMode, editedSessionName,
			formatDate: formatDate,
			lang: computed(() => {
				return store.getters.userLanguage
			}),
			onSessionUpdated: (change: any) => {
				const changedSession = {
					...session.value,
					...change
				};
				store.commit('addUserSession', changedSession);
			},
			onSessionDeleted: async (success: boolean) => {
				if(success) {
					store.commit('removeUserSession', session.value._id);
					//router.replace({name: 'sessionList'});
					router.push({name: 'sessionList'});
				}
			},
			onEditModeChanged: async () => {
				editMode.value = !editMode.value;
				editedSessionName.value = session.value.name;
			},
			onSessionNameChanged: async() => {
				session.value.name = editedSessionName.value;
				await updateSession(session.value._id, {name: session.value.name});
				store.commit('addUserSession', session.value);
				editMode.value = false;
			}
		}
	}
}
</script>

<style scoped>
.session-edit-item {
	width: calc(100% - 70px); /*Space for the fab-icon*/
}
</style>