<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
				<ion-refresher-content> </ion-refresher-content>
			</ion-refresher>
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<h1>{{ $t('sessions.welcome', {name: userName})}}</h1>
						<session-list-component v-if="loaded"></session-list-component>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {computed, ref} from "vue";
import {
	IonCol,
	IonContent,
	IonGrid,
	IonPage, IonRefresher, IonRefresherContent,
	IonRow,
	onIonViewWillEnter
} from "@ionic/vue";
import {useStore} from "vuex";
import SessionListComponent from "@/components/userSession/session/SessionListComponent.vue";

export default {
	name: "SessionListView",
	components: {
		SessionListComponent,
		IonPage, IonContent, IonGrid, IonRow, IonCol, IonRefresher, IonRefresherContent},
	setup() {
		const store = useStore();
		const loaded = ref(false);

		onIonViewWillEnter(async () => {
			await store.dispatch('loadUserDetails');
			await store.dispatch('loadUserSessions');
			loaded.value = true;
		})

		const doRefresh = (event: any) => {
			store.dispatch('loadUserSessions', {reload: true}).then(() => event.target.complete());
		}

		return {
			loaded,
			userName: computed(() => {
				return store.getters.userName;
			}),
			doRefresh,
		}
	}
}
</script>

<style scoped>

</style>