<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<h1>{{$t('sessions.add.title')}}</h1>
						<session-add-component></session-add-component>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script>
import {IonCol, IonContent, IonGrid, IonPage, IonRow} from "@ionic/vue";
import SessionAddComponent from "../../components/userSession/session/SessionAddComponent";

export default {
	name: "SessionAddView",
	components: {SessionAddComponent, IonContent, IonPage, IonGrid, IonRow, IonCol}
}
</script>

<style scoped>

</style>