<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<ion-grid class="ion-margin-top">
							<ion-row class="ion-justify-content-start">
								<ion-col size="12">
									<h1>{{$t('login.title')}}</h1>
								</ion-col>
							</ion-row>
						</ion-grid>
						<login-component></login-component>
						<ion-grid class="ion-margin-top">
							<ion-row class="ion-justify-content-start">
								<ion-col size="12">
									<h2>{{$t('login.noAccountYetHeading')}}</h2>
								</ion-col>
								<ion-col size-sm="12" size-md="6">
									<ion-button id="link_signup"
												expand="full"
												@click="onFollowSignupLink()">
										{{$t('login.registrationButton')}}
									</ion-button>
								</ion-col>
								<ion-col size="12">
									<p>{{$t('login.explainText')}}</p>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script>
import {IonContent, IonPage, IonGrid, IonRow, IonCol, IonButton, useIonRouter} from "@ionic/vue";
import LoginComponent from "../../components/authorization/LoginComponent";

export default {
	name: "LoginView",
	components: {LoginComponent, IonContent, IonPage, IonGrid, IonRow, IonCol, IonButton},
	setup() {
		const router = useIonRouter();
		return {
			onFollowSignupLink: () => {
				router.push({name: 'signup'});
			}
		}
	}
}
</script>

<style scoped>

</style>