<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<h1>{{$t('registration.verify.title')}}</h1>
						<p v-html="$t('registration.verify.verified', {loginLink: '/tabs/login'})"></p>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script lang="ts">
import {IonCol, IonContent, IonGrid, IonPage, IonRow, useIonRouter} from "@ionic/vue";
import {ref, onBeforeMount} from "vue";
import {useRoute} from "vue-router";

import useAuthAPI from "../../composables/apis/authApi";

export default {
	name: "RegistrationConfirmationView",
	components: {IonContent, IonPage, IonGrid, IonRow, IonCol },
	setup() {
		const router = useIonRouter();
		const route = useRoute();
		const verifyCode = route.params.code;

		const message = ref('');

		onBeforeMount(() => {
			const {validateEmail} = useAuthAPI();
			validateEmail(Array.isArray(verifyCode) ? verifyCode[0] : verifyCode).then((result: boolean) => {
				if(result) {
					message.value = 'registration.verify.verified';
				}else {
					// router.replace('/');
					router.push('/');
				}
			})
		})

		return {message};
	}
}
</script>

<style scoped>

</style>