<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size-xs="12" size-sm="10" size-md="8">
						<ion-grid class="ion-margin-top">
							<ion-row class="ion-justify-content-start">
								<ion-col size="12">
									<h1>{{$t('registration.title')}}</h1>
								</ion-col>
							</ion-row>
						</ion-grid>
						<registration-component></registration-component>
						<p>{{$t('registration.explainText')}}</p>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
	</ion-page>
</template>

<script>
import {IonContent, IonPage, IonGrid, IonRow, IonCol} from "@ionic/vue";
import RegistrationComponent from "../../components/authorization/RegistrationComponent";

export default {
	name: "RegistrationView",
	components: {RegistrationComponent, IonContent, IonPage, IonGrid, IonRow, IonCol }
}
</script>

<style scoped>

</style>