<template>
	<ion-modal :is-open="isOpen" :swipe-to-close="true" @didDismiss="onDidDismiss" class="qr-modal">
		<ion-content>
			<ion-toolbar color="light">
				<ion-title>{{ $t('sessions.edit.qrCodeTitle') }}</ion-title>
				<ion-buttons slot="secondary">
					<ion-button v-if="qrCodeUrl && !isApp" :href="qrCodeUrl" download="qrcode.png">
						<ion-icon slot="icon-only" :icon="download" :ios="downloadOutline" :md="downloadSharp"></ion-icon>
					</ion-button>
					<ion-button v-if="qrCodeUrl && isApp" @click="onDownloadQRCode">
						<ion-icon slot="icon-only" :icon="download" :ios="downloadOutline" :md="downloadSharp"></ion-icon>
					</ion-button>
					<ion-button @click="onShare">
						<ion-icon slot="icon-only" :icon="share" :ios="shareOutline" :md="shareSharp"></ion-icon>
					</ion-button>
					<ion-button @click="onDidDismiss">
						<ion-icon slot="icon-only" :icon="close" :ios="closeOutline" :md="closeSharp"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
			<div class="qr-code-area ion-margin-top">
				<vue-qrcode :value="qrValue" :options="{width: width}" id="qrcode"></vue-qrcode>
			</div>

		</ion-content>
	</ion-modal>
</template>

<script>
import {IonButton, IonButtons, IonContent, IonIcon, IonModal, IonTitle, IonToolbar, isPlatform} from "@ionic/vue";
import VueQrcode from '@chenfengyuan/vue-qrcode';
import QrCode from 'qrcode';
import {ref, computed} from "vue";
import { File } from '@awesome-cordova-plugins/file';
import { FileOpener } from '@awesome-cordova-plugins/file-opener';

import {download, downloadOutline, downloadSharp,
	close, closeOutline, closeSharp} from 'ionicons/icons';

import useBreakpoints from "@/composables/breakpoints";
import useShareContent from "@/composables/shareContent";

export default {
	name: "SessionQRCodeModal",
	components: {IonModal, IonContent, IonToolbar, IonTitle, IonButton, IonButtons, IonIcon, VueQrcode},
	emits:['didDismiss', 'didShare'],
	props: {
		isOpen: {
			required: true,
			type: Boolean
		},
		qrValue: {
			required: true,
			type: String
		}
	},
	setup(props, context) {
		const {share, shareOutline, shareSharp} = useShareContent();
		const {type} = useBreakpoints();
		const isApp = ref(isPlatform('hybrid'));

		const width = computed(() => {
			switch(type.value) {
				case 'xs': return 350;
				case 'sm': return 576;
				case 'lg':
				case 'xl':
				case 'md':
				default: return 420;
			}
		})

		const qrCodeUrl = ref(null);

		QrCode.toDataURL(props.qrValue, {width: width.value}).then(code => {
			qrCodeUrl.value = code;
		});

		const convertBase64ToBlob = (b64Data, contentType) => {
			contentType = contentType || '';
			const sliceSize = 512;
			b64Data = b64Data.replace(/^[^,]+,/, '');
			b64Data = b64Data.replace(/\s/g, '');
			console.log(b64Data);
			const byteCharacters = window.atob(b64Data);
			const byteArrays = [];
			for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
				const slice = byteCharacters.slice(offset, offset + sliceSize);
				const byteNumbers = new Array(slice.length);
				for (let i = 0; i < slice.length; i++) {
					byteNumbers[i] = slice.charCodeAt(i);
				}
				const byteArray = new Uint8Array(byteNumbers);
				byteArrays.push(byteArray);
			}
			return new Blob(byteArrays, {type: contentType});
		}

		return {
			share, shareOutline, shareSharp,
			close, closeOutline, closeSharp,
			download, downloadOutline, downloadSharp,
			width,
			isApp, qrCodeUrl,
			onDidDismiss: () => {
				context.emit('didDismiss', true);
			},
			onShare: () => {
				//we don't change the QR-Code, but the link
				context.emit('didShare', true);
			},
			onDownloadQRCode: () => {
				const writeDirectory = isPlatform('ios') ? File.tempDirectory : File.cacheDirectory;
				console.log(qrCodeUrl.value);
				File.writeFile(writeDirectory, 'qrCode.png', convertBase64ToBlob(qrCodeUrl.value, 'data:image/png;base64'), {replace: true})
					.then(() => {
						FileOpener.open(writeDirectory + 'qrCode.png', 'image/png')
							.catch((err) => {
								console.log('Error opening qr code', err);
							});
					})
					.catch((err) => {
						console.error('Error writing qr code', err);
					});
			}
		}
	}
}
</script>

<style scoped>
.qr-modal {
	padding-top: 40px;
}

.qr-code-area {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>