<template>
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon :icon="menu" :ios="menuOutline" :md="menuSharp"></ion-icon>
		</ion-fab-button>
		<ion-fab-list :side="fabDirection">
			<ion-fab-button color="secondary" @click="onEditSession" id="session_edit_rename_button">
				<ion-icon :icon="create" :ios="createOutline" :md="createSharp"></ion-icon>
			</ion-fab-button>
			<ion-fab-button v-if="session.isOpen" @click="onCloseSession" id="session_edit_close_button">
				<open-closed-icon :open-state="true"></open-closed-icon>
			</ion-fab-button>
			<ion-fab-button v-else @click="onOpenSession"  id="session_edit_open_button">
				<open-closed-icon :open-state="false"></open-closed-icon>
			</ion-fab-button>
			<ion-fab-button color="danger" @click="onDeleteSession"  id="session_edit_delete_button">
				<ion-icon :icon="trash" :ios="trashOutline" :md="trashSharp"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</template>

<script>
import {computed} from 'vue';
import {IonFab, IonFabButton, IonFabList, IonIcon} from "@ionic/vue";

import {
	menu, menuOutline, menuSharp,
	create, createOutline, createSharp,
	trash, trashOutline, trashSharp
} from 'ionicons/icons';
import useBreakpoints from "@/composables/breakpoints";
import useSessionAPI from "@/composables/apis/sessionApi";
import useToastMessage from "@/composables/toastMessage";
import OpenClosedIcon from "@/components/userSession/OpenClosedIcon";

export default {
	name: "SessionEditFab",
	components: {OpenClosedIcon, IonFab, IonFabButton, IonFabList, IonIcon},
	emits: ['sessionUpdated', 'sessionDeleted', 'editModeChanged'],
	props: {
		session: {
			required: true
		}
	},
	setup(props, context) {
		const {updateSession, deleteSession} = useSessionAPI();
		const {type} = useBreakpoints();
		const { openToast } = useToastMessage();

		return {
			menu, menuOutline, menuSharp,
			create, createOutline, createSharp,
			trash, trashOutline, trashSharp,
			fabDirection: computed(() => {
				if (['xs', 'sm'].includes(type.value)) {
					return 'bottom';
				}
				return 'start';
			}),
			onEditSession: async () => {
				context.emit('editModeChanged');
			},
			onCloseSession: async () => {
				const result = await updateSession(props.session._id, {open: false});
				if(result) {
					await openToast('sessions.edit.sessionClosed');
					context.emit('sessionUpdated', {isOpen: false})
				}
			},
			onOpenSession: async () => {
				const result = await updateSession(props.session._id, {open: true});
				if(result) {
					await openToast('sessions.edit.sessionOpened');
					context.emit('sessionUpdated', {isOpen: true})
				}
			},
			onDeleteSession: async () => {
				const result = await deleteSession(props.session._id);
				context.emit('sessionDeleted', result);
			}
		}
	}
}
</script>

<style scoped>

</style>