<template>
	<h2>{{$t('sessions.edit.share')}}</h2>
	<ion-grid v-if="session">
		<ion-row class="ion-justify-content-start">
			<ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
				<ion-item>
					<ion-label for="session_edit_accessCode" position="floating" style="display: none">
						{{$t('sessions.edit.accessCode')}}
					</ion-label>
					<ion-input id="session_edit_accessCode"
							   :value="session.accessCode"
							   @click="onSelectAccessCode($event)"
							   @focus="onSelectAccessCode($event)"
							   readonly></ion-input>
					<ion-button id="session_edit_accessCode_copy"
								clear slot="end"
								fill="clear"
								expand="full"
								@click="onCopyAccessCode">
						<ion-icon :icon="share" :ios="shareOutline" :md="shareSharp"></ion-icon>
						{{$t('sessions.edit.copyButton')}}
					</ion-button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-start">
			<ion-col size-xs="12" size-sm="12" size-md="6">
				<ion-button id="session_edit_share_qr_code" expand="full" @click="openModal = true">
					{{$t('sessions.edit.qrCodeButton')}}
				</ion-button>
			</ion-col>
			<ion-col size-xs="12" size-sm="12" size-md="6">
				<ion-button id="session_edit_share_access_link" expand="full" @click="onCopyAccessLink">
					{{$t('sessions.edit.copyLinkButton')}}
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<session-q-r-code-modal
			:is-open="openModal"
			:qr-value="fullLink"
			@didDismiss="openModal = false"
			@didShare="onCopyAccessLink">
	</session-q-r-code-modal>
</template>

<script lang="ts">
import {
	IonCol,
	IonGrid,
	IonRow,
	IonIcon,
	IonInput,
	IonLabel,
	IonItem,
	IonButton,
} from "@ionic/vue";

import {useStore} from "vuex";
import {computed, ref} from "vue";
import SessionQRCodeModal from "@/components/userSession/session/SessionQRCodeModal.vue";
import useShareContent from "@/composables/shareContent";

export default {
	name: "SessionShareComponent",
	components: {SessionQRCodeModal, IonGrid, IonRow, IonCol, IonIcon, IonInput, IonLabel, IonItem, IonButton},
	props: {
		session: {
			required: true
		}
	},
	setup(props: any) {
		const store = useStore();

		const openModal = ref(false);
		const fullLink = computed(() => {
			return store.getters.baseUrl+'/participate/'+props.session.accessCode;
		})

		const {share, shareSharp, shareOutline, shareContent} = useShareContent();

		return {
			share, shareSharp, shareOutline,
			openModal, fullLink,
			onSelectAccessCode: (event: any) => {
				event.target.select();
			},
			onCopyAccessCode: async () => {
				await shareContent({
					text: props.session.accessCode,
					title: 'sessions.edit.shareAccessCodeTitle'
				}, {additionalText: 'sessions.edit.shareAccessCodeText'})
			},
			onCopyAccessLink: async () => {
				await shareContent({
					text: 'sessions.edit.shareAccessLinkText',
					url: fullLink.value,
					title: 'sessions.edit.shareAccessLinkTitle'
				})
			},
		}
	}
}
</script>

<style scoped>

</style>