<template>
	<form @submit.prevent="onSubmit">
		<ion-grid>
			<ion-row class="ion-justify-content-start">
				<ion-col size="12">
					<ion-item>
						<ion-label for="session_add_name"
								   position="floating">
							{{ $t('sessions.add.nameInput') }}
						</ion-label>
						<ion-input v-model="sessionName"
								   id="session_add_name"
								   name="session_add_name"
								   autofocus
								   clear-input
								   autocorrect="on"
								   spellcheck="true"
								   enterkeyhint="next"
								   inputmode="text"
								   required>

						</ion-input>
						<span id="session_add_name_error">{{ sessionNameError }}</span>
					</ion-item>
				</ion-col>
				<ion-col size="12">
					<ion-item lines="none">
						<ion-checkbox v-model="startOpen"
									  id="session_add_open"
									  name="session_add_open">
						</ion-checkbox>&nbsp;
						<ion-label for="session_add_open">
							{{ $t('sessions.add.startOpenCheck') }}
						</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size-xs="12" size-sm="12" size-md="6">
					<ion-button id="session_add_submit_button"
								expand="full"
								type="submit"
								:disabled="!validForm">
						{{ $t('sessions.add.submitButton') }}
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</template>

<script>
import {
	IonButton,
	IonCol,
	IonGrid,
	IonInput,
	IonItem,
	IonLabel,
	IonRow,
	IonCheckbox,
	onIonViewWillEnter, useIonRouter
} from "@ionic/vue";
import useSessionAddForm from "../../../composables/forms/sessionAddForm";
import useSessionAPI from "../../../composables/apis/sessionApi";
import {useStore} from "vuex";

export default {
	name: "SessionAddComponent",
	components: {IonGrid, IonRow, IonCol, IonItem, IonInput, IonLabel, IonButton, IonCheckbox},
	setup() {
		const router = useIonRouter();
		const store = useStore();
		const {insertSession} = useSessionAPI();

		const {sessionName, sessionNameError, startOpen, validForm} = useSessionAddForm();

		onIonViewWillEnter(() => {
			sessionName.value = '';
			sessionNameError.value = '';
			startOpen.value = false;
		})

		return {

			sessionName, sessionNameError, startOpen, validForm,
			onSubmit: () => {
				if(!validForm.value) {
					return false;
				}

				const data = {
					name: sessionName.value,
					open: !!startOpen.value
				}

				insertSession(data).then(async (sessionId) => {
					if(sessionId !== null) {
						try{
							await store.dispatch('addUserSession', {sessionId: sessionId});
							//must reconnect to create a slot for the new session
							await store.dispatch('reconnectSocket');
							//router.replace({name: 'sessionEdit', params: {id: sessionId}});
							router.push({name: 'sessionEdit', params: {id: sessionId}});
						}catch(err) {
							console.error(err)
						}
					}
				})
			}
		}
	}
}
</script>

<style scoped>
ion-item span {
	font-size: smaller;
	color: var(--ion-color-danger);
}
</style>