<template>
	<h2>{{ $t('sessions.sessions')}}</h2>
	<ion-list v-if="userSessions && userSessions.length">
		<ion-item v-for="session in userSessions"
				  v-bind:key="session._id"
				  @click="onSessionSelect(session._id)"
				  button detail>
			<open-closed-icon :open-state="session.isOpen"></open-closed-icon>
			<ion-label>{{session.name}}</ion-label>
			<ion-label v-if="!['xs', 'sm'].includes(resolution)">{{formatDate(session.createdAt, userLanguage)}}</ion-label>
		</ion-item>
	</ion-list>
	<ion-card v-else color="light">
		<ion-card-content v-html="$t('sessions.noSessionsYet', {addButton: $t('sessions.addButton')})">
		</ion-card-content>

	</ion-card>
	<ion-grid>
		<ion-row>
			<ion-col size-xs="12" size-sm="12" size-md="6">
				<ion-button expand="full" @click="onNewSession" id="session_list_new_session_button">
					{{$t('sessions.addButton')}}
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</template>

<script lang="ts">
import {
	IonButton,
	IonCol,
	IonGrid,
	IonItem,
	IonLabel,
	IonList,
	IonRow,
	IonCard,
	IonCardContent,
	useIonRouter
} from "@ionic/vue";
import {computed} from "vue";
import {useStore} from "vuex";


import useDateFormatter from "@/composables/format/dateFormat";
import useBreakpoints from "@/composables/breakpoints";
import OpenClosedIcon from "@/components/userSession/OpenClosedIcon.vue";

export default {
	name: "SessionListComponent",
	components: {
		OpenClosedIcon,
		IonList, IonItem, IonLabel, IonGrid, IonRow, IonCol, IonButton, IonCard, IonCardContent},
	setup() {
		const store = useStore();
		const router = useIonRouter();
		const {formatDate} = useDateFormatter();
		const {type} = useBreakpoints();

		const userSessions = computed(() => {
			return store.getters.userSessions;
		})

		const userSessionsSorted = computed(() => {
			const sessions = userSessions.value;
			if(sessions === null || sessions.length <= 1) {
				return sessions;
			} else {
				return sessions.sort((first: any, second: any) => {
					return second.createdAt.getTime() - first.createdAt.getTime();
				});
			}
		})

		return {
			resolution: type,
			userLanguage: computed(() => {
				return store.getters.userLanguage;
			}),
			userSessions: userSessionsSorted,
			formatDate: formatDate,
			onSessionSelect: (id: string) => {
				router.push({name: 'sessionEdit', params: {id: id}});
			},
			onNewSession: () => {
				router.push({name: 'sessionAdd'});
			}
		}
	}
}
</script>

<style scoped>

</style>